/*default*/

#wrap {
	height: auto;
	width: 627px;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
}
#header {
	height: 40px;
	width: 627px;
	font-family: courier, sans-serif;
	font-size: 40px;
	padding-top: 40px;
	padding-bottom: 0px;
}
#header a {
	text-decoration: none;
}
#footer {
	height: 60px;
	width: 600px;
	background-color: black;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 13pt;

}

#home {
	font-family: 'Varela Round', sans-serif;
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

#about {
	font-family: 'Varela Round', sans-serif;
	font-size: 14px;
	padding-left: 40px;
	padding-right: 40px;
}
#portfolio {
	font-family: 'Varela Round', sans-serif;
	font-size: 14px;
	padding-left: 40px;
	padding-right: 40px;
}

#post {
	font-family: 'Varela Round', sans-serif;
	font-size: 14px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 40px;
}

#post a {
	text-decoration: none;
}
#contact {
	font-family: 'Varela Round', sans-serif;
	font-size: 14px;
	padding-left: 40px;
	padding-right: 40px;
}

#navigation {
	height: 50px;
	width: 627px;
	padding-top: 15px;
	font-family: 'Varela Round', sans-serif;

}
#navigation a {
	text-decoration: none;

}


/*Header*/
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);

/*style*/



.clear { clear: both;}

/* About */

#about img.me {
	float: left;
	padding-right: 10px;
}

#photo img {
float:left;
height:300;
width:400;
margin-top:10px;
margin-left:8px;
margin-right:5px;
margin-bottom:5px;

}
.biophoto {
	height: 375px;
	width: 250px;
	border: 0px none #000;
	float: right;
	margin-top: 15px;
	margin-left: 15px;
	margin-bottom: 0px;
}


/* Contact */

.email {
	height: 44px;
	width: 50px;
	border: 0px none #000;
	margin-top: 20px;
	margin-right: 7px;
	margin-bottom: 11px;
}

.linkedin{
	height: 44px;
	width: 50px;
	border: 0px none #000;
	margin-top: 3px;
	margin-right: 15px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.twitter{height: 44px;
	width: 50px;
	border: 0px none #000;
	margin-top: 0px;
	margin-right: 15px;
	margin-bottom: 10px;
}

.plus {height: 44px;
	width: 50px;
	border: 0px none #000;
	margin-top: 0px;
	margin-right: 15px;
	margin-bottom: 10px;
}
/* Blog */