<!DOCTYPE html>
<html>
    <head>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans|Gochi+Hand|Varela+Round|Bubbler+One|Didact+Gothic|Metrophobic' rel='stylesheet' type='text/css'>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/default.css">

    </head>
    <body>
      <div id="wrap">
        <div class="site">
          <div id="header"><a href="/"><center>selena larson</center></a>
          </div>
          {{ content }}

          <div class="footer">
          <div id='navigation'>
           <table width="627" height="35
" border="0">
            <td><center><a href='/'><span>Home</span></a></center></td>
            <td><center><a href='/about'><span>About</span></a></center></td>
            <td><center><a href='/blog'><span>Blog</span></a></center></td>
            <td><center><a href='/contact'><span>Contact</span></a></center></td>
      
     </table> 
</div>
          
          </div>
        </div>

    </body>
</html>
