<!DOCTYPE html>
<html>
   <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39524894-1', 'selenalarson.com');
  ga('send', 'pageview');

</script>
    <head>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans|Gochi+Hand|Varela+Round|Bubbler+One|Didact+Gothic|Metrophobic' rel='stylesheet' type='text/css'>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/default.css">

    </head>
    <body>
      <div id="wrap">
        <div class="site">
          <div id="header"><a href="/"><center>selena larson</center></a>
          </div>
          {{ content }}

          <div class="footer">
          <div id='navigation'>
           <center><table width="200" height="35
" border="0">
            <td><center><a href='/'><span>Home</span></a></td>
            <td><center><a href='/about'><span>About</span></a></td>
            <td><center><a href='/portfolio'><span>Work</span></a></td>
      
     </table> </center>
</div>
          
          </div>
        </div>

    </body>
</html>
